#bblivepreview,
#bbquicksave {
	z-index:999999;
	position:fixed;
	top:100px;
	left:0px;
    background-color: #fff;
    border: solid 1px #f1f1f1;
    color: #666;
    padding: 15px 15px 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: -10px;
    cursor: pointer;
    transition: all 0.2s ease;

}

#bblivepreview.hidden,
#bbquicksave.hidden,
.fl-builder-quicksave-button.hidden {
	display:none;
}

#bblivepreview:hover,
#bbquicksave:hover {
	background-color: #f1f1f1;
	border-right: solid 1px #d1d1d1;
	border-bottom: solid 1px #d1d1d1;
	left:10px;
}

#bbquicksave {
	top:156px;
}

.fl-builder-quicksave-button {
	transition: all 0.2s ease;
}
#bbquicksave.saved,
.fl-builder-quicksave-button.saved {
	background-color:#090;
	border-color:#090;
}

#bblivepreview, #bbquicksave {
	width:64px;
	overflow:hidden;
}
#bblivepreview a:after,
#bbquicksave a:after {
	content: '\f06e';
	color: #999;
	display: inline-block;
	font: normal 18px / 1 'FontAwesome';
	margin-left: 5px;
	vertical-align: middle;
	-webkit-font-smoothing: antialiased;
}

#bblivepreview a.preview:after {
	content: '\f070';
}

#bbquicksave a:after {
	content: '\f0c7';
}

#bbquicksave.saved a:after,
.fl-builder-quicksave-button.saved {
	color:#fff;
}

.fl-builder-blocks-section-title.custom-section label {
	margin-left:10px;
	font-weight: bold;
}
